.review-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /*width: 90%;*/
  margin: 10px;
  border: 1px solid #ccc;
  position: relative;
}

.review-item-container .controls {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  padding: 10px;
}

.review-item-container .controls .button {
  margin: 0 10px;
}

.review-item-container .user-avatar {
  height: 70px;
  width: 70px;
  background-color: #ccc;
  background-size: 100%;
  background-position: 50%;
}

.review-item-container .review-details {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.review-item-container .review-details .name {
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-item-container .review-details .comment {
  font-size: 16px;
}
